<app-navbar></app-navbar>

<!-- <ul>
    <li *ngFor="let item of categories">
        {{item.cat_Name}}
    </li>
</ul> -->

<div class="container-fluid p-5">
<div class="row justify-content-between">
  <div class="col-md-4 my-2 d-flex justify-content-center" *ngFor="let category of categories">

    <div class="card mb-5">
        <div class="card-body">

          <a [routerLink]="['/category',category._id]"><h5 class="card-title">{{category.cat_Name}}</h5></a>
        </div>
      </div>
    </div>
</div>
</div>

