/* 1D1D1D */


.yellow{
  display: flex;
  justify-content: center;
  background-color: #FFCA3A;
}

.yellow button.active-all {
  background-color: #dc3545;
}

/* Button styles */
button {
  margin-right: 10px;
  background-color: #FFCA3A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #eaae0b;
}

/* Table styles */
table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
