 <div class="container-fluid shadow"style="background:yellow light" >
                
                <div class="row px-sm-5 py-5 justify-content-center align-items-center " >
                  <div class="col-sm-8 col-md-6 mb-3 mb-md-0">
                    <h1 class="text-center  text-md-start" style="  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);">Welcome, <span style=" color: rgba(255, 183, 0, 0.926); ">Admin</span>!</h1>
                    <p class="text-center text-md-start fs-5">
                        Thank you for logging in. You have access to the admin panel.
                    </p>
                  </div>
                  <div class="col-sm-10 col-md-6">
                    <img src="../../assets/images/avatar2.jpeg" class="img-fluid" alt="" />
                  </div>
                </div>
              </div>
