<p>auther works!</p>
<h1>auther page </h1> 



<div *ngFor="let row of Auther">
    <li>first name  {{row.firstName}}</li>
    <li>last name{{row.LastName}}</li>
    <li>biarth data {{row.birthDate}}</li>
    <!-- <li>{{row.image}}</li> -->
    <li><img [src]="row.image" [alt]="row.firstName"></li>
    <!-- <button routerLink="" (click)="sendId(prodectItem.id)" class="btn btn-primary">show more info</button> -->
    <br>
    <button routerLink="update/{{row._id}}"  class="btn btn-primary">update </button>
    <br>
    <br>
    <button (click)="delete(row._id)"  class="btn btn-primary">delete</button>
    <!-- <button routerLink="delete/{{row._id}}"   class="btn btn-primary">delete</button> -->

<hr>
</div>

    <button routerLink="add" class="btn btn-primary">add new auther</button>
