<app-navbar></app-navbar>
<div class="container my-4">
    <div class="row">
      <div class="col-md-3">
        <img  [src] = "book?.image" class="card-img-top">
            <div class="btn-group mt-3 mb-3 w-100">
              <button class="btn btn-success btn-lg px-5" type="button" (click)="addToProfile()">want to read</button>
            </div>
            <br>

      </div>
      <div class="col-md-8">
        <h2>{{book?.name}}</h2>
        <h5>Category:<a routerLink="/category/{{book?.categoryId?._id}}"> {{book?.categoryId?.cat_Name}}</a> </h5>
        <h5 class="mb-3">Author::<a routerLink="/author-details/{{book?.authorId?._id}}"> {{book?.authorId?.firstName}}</a> </h5>
     <span class = "fa fa-star " [ngClass]="{'checked': book?.rate >= 1}"></span>
     <span class = "fa fa-star"[ngClass]="{'checked': book?.rate >= 2}"></span>
     <span class = "fa fa-star"[ngClass]="{'checked': book?.rate >= 3}"></span>
     <span class = "fa fa-star "[ngClass]="{'checked': book?.rate >= 4}"></span>
     <span class = "fa fa-star"[ngClass]="{'checked': book?.rate == 5}"></span>
        <span>{{book?.rate}}</span>
        <p class="mt-4">      book Description :  {{book?.description}}  .</p>
      </div>
    </div>


    <div class="border border-dark p-3 mt-5" style="position: relative;">
      <h4 class="mb-4" style="position: absolute; top: -20px; left: 10px; background-color: white; padding: 0 10px;">Reviews</h4>
      <div class="row px-4 py-3" *ngFor= "let review of reviews let i=index">
        <div class="col-md-4">
          <!-- <img src="../../../assets/images/img1.jpg" width="100px" alt="Reviewer Name" class="img-fluid rounded-circle"> -->
          <h6 class="mt-2">{{review?.UserId?.fullname}}</h6>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-8">
              <div class="tit-stars d-flex align-items-center">
                <h4 class="me-4">Book Name</h4>
                <div class="d-flex ms-auto">
              </div>
              <p>{{review?.review}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


 
<div class="border border-dark p-3 mt-5" style="position: relative;">
  <h4 class="mb-4" style="position: absolute; top: -20px; left: 10px; background-color: white; padding: 0 10px;">add review</h4>
  <div class="row px-4 py-3">
    <!-- <div class="col-md-12"> -->
<form #review="ngForm" (ngSubmit)="submit(review.value)">
  <div class="col-md-7">
  <textarea id="review" name="reviewdata" rows="4" cols="50" placeholder="review"  #reviewdata="ngModel" ngModel  required class="form-control input"  aria-describedby="reviewHelp"   class="w-full mt-5 px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-4">  </textarea>
 
  <div id="reviewHelp" class="form-text text-danger" *ngIf="reviewdata.touched && reviewdata.invalid">
    <span *ngIf="reviewdata.errors?.['required']">
      this field is required
    </span>
    <span *ngIf="reviewdata.errors?.['pattern']">
      must include any character
    </span>
  </div>
</div>
  <div class="col-md-4">
    <button type="submit" [disabled]="review.invalid" class="btn btn-secondary"> add review</button>    
</div>
</form>
    </div>
  </div>











  <div class="border border-dark p-3 mt-5" style="position: relative;">
    <h4 class="mb-4" style="position: absolute; top: -20px; left: 10px; background-color: white; padding: 0 10px;">related books</h4>
    <div class="row px-4 py-3">

      <div class="col-md-3 my-3" *ngFor= "let book of booksralated let i=index">
        <div class="card h-100" >
          <img [src] = "book.image" class="card-img-top">
          <div class="card-body" (click)="goToBook(i)">
              <h5 class="card-title"> {{book.name}} </h5>
              <h5 class="card-title"> {{book.rate}} </h5>
              <p class="card-text"></p>
          </div>
            </div>


      </div>
    </div>

</div>













 


</div>









