<h1 class="p-2">Admin Books</h1>
<h2 class="p-2"  *ngIf="showForm && !isNewBook"> Edit Your Book</h2>
<h2 class="p-2"  *ngIf="showForm && isNewBook"> Add Your Book</h2>
<div class="flex justify-content-end me-4 mb-4">
  <button type="button" class="btn btn-success" *ngIf="!showForm" (click)="showForm=true; isNewBook=true">Add</button>
</div>


<div class="container">

  <div class="row">
    <div class="table-container">
      <form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Book Name</th>
              <th scope="col" *ngIf="showForm">Rate</th>
              <th scope="col" *ngIf="showForm">Author Name</th>
              <th scope="col" *ngIf="showForm">Category Name</th>
              <th scope="col" *ngIf="showForm">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="showForm; else bookList">
              <tr>

                <td>
                  <input type="text" [(ngModel)]="newBookName" class="form-control" aria-describedby="BookNameHelp"
                    name="adminBookName" ngModel #adminBookName="ngModel" minlength="3" required (input)="hasChanges = true"/>
                  <div id="BookNameHelp" class="form-text text-danger"
                    *ngIf="adminBookName.touched && adminBookName.invalid">
                    <span *ngIf="adminBookName?.errors?.['required']">This Field Is Required</span>
                    <span *ngIf="adminBookName?.errors?.['minlength']">the minlength is 3 character</span>
                  </div>
                </td>

                <td>
                  <input type="number" [(ngModel)]="rate" class="form-control" aria-describedby="BookRateHelp"
                    name="bookRate" ngModel #bookRate="ngModel" required [min]="0"[max]="5" />

                  <div id="BookRateHelp" class="form-text text-danger" *ngIf="bookRate.touched && bookRate.invalid">
                    <span *ngIf="bookRate?.errors?.['required']">This field is required</span>
                    <span *ngIf="bookRate?.errors?.['min']">Rate cannot be a negative number</span>
                    <span *ngIf="bookRate?.errors?.['max']">Rate cannot be more than 5</span>
                  </div>
                </td>


                <td>
                  <select [(ngModel)]="autherId" aria-label="Default select example" class="form-select"
                    aria-describedby="authorBookHelp" name="authorbook" ngModel #authorbook="ngModel"
                    required
                    (input)="hasChanges = true">
                    <option disabled selected>Choose Your Auther Name</option>
                    <option *ngFor="let auther of authers" value="{{ auther._id }}">
                      {{ auther.firstName }} {{ auther.LastName }}
                    </option>
                  </select>
                  <div id="authorBookHelp" class="form-text text-danger"
                    *ngIf="authorbook.touched && authorbook.invalid">
                    <span *ngIf="authorbook?.errors?.['required']">This Field is required</span>
                  </div>
                </td>

                <td>
                  <select [(ngModel)]="categoryId" aria-label="Default select example" name="categoryModel"
                    class="form-select" aaria-describedby="authorcategoryHelp" ngModel #categoryModel="ngModel"
                    required
                    (input)="hasChanges = true">

                    <option disabled selected>Choose Your Category Name</option>
                    <option *ngFor="let category of categories" value="{{ category._id }}">
                      {{ category.cat_Name }}
                    </option>
                  </select>
                  <div id="authorcategoryHelp" class="form-text text-danger"
                    *ngIf="categoryModel.touched && categoryModel.invalid">
                    <span *ngIf="categoryModel?.errors?.['required']">This Field is required</span>
                  </div>
                </td>
                <td>
                  <input
                  [(ngModel)]="image"
                  name="imaage"
                  type="file"
                  class="form-control"
                  id="exampleInputfile"
                  aria-describedby="fileHelp"
                />
              </td>
                <td>
                  <ng-container *ngIf="isNewBook">
                    <form id="myForm">
                      <button (click)="addBook($event)" type="submit" class="btn btn-primary me-3">Save</button>
                    </form>
                    
                  </ng-container>
                  <ng-container *ngIf="!isNewBook">
                    <button type="button" class="btn btn-primary me-1" [disabled]="bookForm.invalid && bookForm.touched"
                      (click)="selectedBook && updateBook(selectedBook._id, newBookName, selectedBook.rate, selectedBook.authorId, categoryId)">Update</button>
                  </ng-container>
                  <button type="button" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
                </td>

              </tr>
            </ng-container>
            <ng-template #bookList>
              <tr *ngFor="let book of books; let i = index">
                <td scope="row">{{book.name}}</td>
                <td>
                  <button type="button" class="btn btn-primary me-4" (click)="editBook(book)">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="deleteBook(book._id, i)">Delete</button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
