<h1 class="p-2">Admin Books</h1>

<div class="container">
  <div class="row">
    <div class="table-container">
      <form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Book Name</th>
              <th scope="col" *ngIf="showForm">Rate</th>
              <th scope="col" *ngIf="showForm">Author Name</th>
              <th scope="col" *ngIf="showForm">Category Name</th>

              <th scope="col">Action</th>
              <th scope="col" class="d-flex justify-content-end" *ngIf="!showForm">
                <button type="button" class="btn btn-success" (click)="showForm=true; isNewBook=true">Add</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="showForm; else bookList">
              <tr>
                <td>
                  <input
                    [(ngModel)]="bookName"
                    name="name"
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </td>
                <td>
                  <input
                    [(ngModel)]="rate"
                    name="rate"
                    type="number"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </td>
                <td>
                  <select
                    [(ngModel)]="autherId"
                    name="author" class="form-select" aria-label="Default select example">
                    <option selected>Choose Your Auther Name</option>
                    <option *ngFor="let auther of authers" value="{{ auther._id }}">
                      {{ auther.firstName }} {{ auther.LastName }}
                    </option>
                  </select>
                </td>
                <td>
                  <select
                    [(ngModel)]="categoryId"
                    name="cat"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Choose Your Category Name</option>
                    <option
                      *ngFor="let category of categories"
                      value="{{ category._id }}">
                      {{ category.cat_Name }}
                    </option>
                  </select>
                </td>
                <td>
                  <ng-container *ngIf="isNewBook">
                    <button (click)="addBook()" type="submit" class="btn btn-primary me-3">Save</button>
                  </ng-container>
                  <ng-container *ngIf="!isNewBook">
                    <button type="button" class="btn btn-primary me-1" (click)="selectedBook && updateBook(selectedBook._id, newBookName)">Update</button>
                  </ng-container>
                  <button type="button" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
                </td>
              </tr>
            </ng-container>

            <ng-template #bookList>
              <tr *ngFor="let book of books; let i = index">
                <td scope="row">{{book.name}}</td>
                <td>
                  <button type="button" class="btn btn-primary me-4" (click)="editBook(book)" >Edit</button>
                  <button type="button" class="btn btn-danger" (click)="deleteBook(book._id,i)">Delete</button>
                </td>
              </tr>
          </ng-template>

          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>


<!--  (click)="editCategory(category)" -->
<!-- (click)="deleteCategory(category._id,i)" -->
<!--  <th scope="col" *ngIf="showForm">
        <button type="button" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
      </th>
-->
