<h1 class="p-2">Admin Books</h1>
<h2 class="p-2"> Add Your Book</h2>
<div class="container">
    <div class="row">
      <div class="table-container">
        <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">Book Name</th>
                <th scope="col" >Rate</th>
                <th scope="col" >Author Name</th>
                <th scope="col" >Category Name</th>
                <th scope="col" >Image</th>
                <th scope="col">Action</th>
              </tr>
            </thead> -->
            <!-- <tbody></tbody> -->
        <form [formGroup]="addbook" enctype="multipart/form-data"  (ngSubmit)="addBook($event)" >
                 <tr>
              <td>
                    <input type="text" class="form-control" aria-describedby="BookNameHelp"
                      name="name" formControlName="name"/>
                    <div id="BookNameHelp" class="form-text text-danger"*ngIf="Name?.touched && Name?.invalid">
                     <span *ngIf="Name?.errors?.['required']">
                        This Field Is Required
                      </span>
                      <span *ngIf="Name?.errors?.['minlength']">the minlength is 3 character</span>
                    </div>
                 </td>


                 <td>
                    <input type="number" class="form-control" aria-describedby="BookRateHelp"
                      name="rate"  formControlName="rate"  max="5" min="0"/>
                      <!-- required min=0 max=5 -->
                    <div id="BookRateHelp" class="form-text text-danger"*ngIf="Rate?.touched && Rate?.invalid" >
                        <span *ngIf="Rate?.errors?.['required']">
                            This Field Is Required
                          </span>
                          <span *ngIf="Rate?.errors?.['min']">
                            min value is 0
                          </span>
                          <span *ngIf="Rate?.errors?.['max']">
                            max value is 5
                          </span>
                      </div>
                  </td>

                  <td>
                    <select aria-label="Default select example" class="form-select" 
                      aria-describedby="authorBookHelp" name="authorId"required  formControlName="Author" >
                      <option disabled selected>Choose Your Auther Name</option>
                      <option *ngFor="let auther of authers" value="{{ auther._id }}">
                        {{ auther.firstName }} {{ auther.LastName }}
                      </option>
                    </select>

                    <div id="authorBookHelp" class="form-text text-danger"*ngIf="Author?.touched && Author?.invalid">
                      <span *ngIf="Author?.errors?.['required']">
                        This Field Is Required
                      </span>
                    </div>
                  </td>

                  <td>
                    <select  aria-label="Default select example" name="categoryId"
                      class="form-select" aaria-describedby="authorcategoryHelp" required formControlName="Category" >
                      <option disabled selected>Choose Your Category Name</option>
                      <option *ngFor="let category of categories" value="{{ category._id }}">
                        {{ category.cat_Name }}
                      </option>
                    </select>
                    <div id="authorcategoryHelp" class="form-text text-danger"*ngIf="Category?.touched && Category?.invalid">
                      <span *ngIf="Category?.errors?.['required']">
                        This Field Is Required
                      </span>
                    </div>
                  </td>

                  <td>
                    <input      formControlName="image"
                    name="image"
                    type="file"
                    class="form-control"
                    id="Inputfile"
                    aria-describedby="fileHelp"
                  /> select image
                  <div id="fileHelp" class="form-text text-danger"*ngIf="image?.touched && image?.invalid">
                    <span *ngIf="image?.errors?.['required']">
                        This Field Is Required
                      </span>
                    </div>
                </td>



                <td>
                    <input type="text" class="form-control" aria-describedby="descriptionHelp"
                      name="description"  required   formControlName="description"/>
                    <div id="BookNameHelp" class="form-text text-danger"*ngIf="description?.touched && description?.invalid">
                    <span *ngIf="description?.errors?.['required']">
                        This Field Is Required
                      </span>
                    </div>
                 </td>

<button type="submit" class="btn btn-primary me-3">Save</button>