
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-warning">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-3 d-none d-sm-inline" style="  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Menu</span>


                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="welcome" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house text-black"></i> <span class="ms-1 d-none d-sm-inline text-black">Home</span>
                        </a>
                    </li>
                    
                    <li>
                        <a routerLink="categories" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table text-black"></i> <span class="ms-1 d-none d-sm-inline text-black">categories</span></a>
                    </li>
                    
                    <li>
                        <a routerLink="auther" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people text-black"></i> <span class="ms-1 d-none d-sm-inline text-black">authers</span> </a>
                    </li>
                    <li>
                        <a routerLink="books" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people text-black"></i> <span class="ms-1 d-none d-sm-inline text-black">books</span> </a>
                    </li>
                    <li>
                        <a (click)="logout()" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people text-black"></i> <span class="ms-1 d-none d-sm-inline text-black">logout</span> </a>
                    </li>
                </ul>
                <hr>
                 
            </div>
        </div>    
           
        <div class="col py-3">
            <router-outlet ></router-outlet> 
             
              
        </div>
    </div>
</div>
 